@media (max-width: 576px) {
    .container-header {
        width: 100%;
    }
    .hamburger {
        display: flex;
    }
    .header {
        padding-bottom: 40px;
        padding-top: 0px;
        &__top {
            display: none;
        }
        &__top-inner {
            height: 30px;
        }
        &__content-right {
            height: 555px;
            width: 100%;
        }
        &__yellow-rectangle {
            left: 10%;
            width: 80%;
            height: 382px;
        }
        &__content-left {
            width: 100%;
            height: 395px;
            margin-bottom: 30px;
            padding-left: 10px;
            padding-right: 10px;
        }
        &__img-logo {
            height: auto;
            width: 80%;
        }
        &__svg-2 {
            top: 35%;
            left: 50%;
            width: 215px;
            height: 504px;
        }
        &__svg-1 {
            top: 45%;
            left: -10%;
            width: 330px;
            height: 195px;
        }
        &__content-inner {
            flex-direction: column;
        }
    }
    .container {
        width: 100%;
    }
    .form {
        width: 100%;
        height: 45px;
        &__input-text {
            width: 70%;
            margin-right: -12px;
        }
        &__button {
            width: 30%; 
        }
    }
    .header-btn {
        &__up {
            width: 65px;
            margin-left: 6px;
            font-size: 15px;
            margin-top: -7px;
        }
    }
    .link {
        font-size: 15px;
    }
    .menu {
        margin-right: 20px;
        &__list-item {
            margin-left: 31px;
        }
        &__list {
            margin-top: 0px;
        }
    }
    .logo {
        margin-top: 0;
    }
    .menu-mobile {
        visibility: hidden;
        position: absolute;
        top: 0px;
        width: 100%;
        height: 100vh;
        background-color: aqua;
        z-index: 10;
        &__close {
            height: 15px;
            width: 15px;
            background-color: black;
        }
        &.active {
            visibility: visible;
        }
        // &__list {

        // }
        // &__link {

        // }
        // &__a {

        // }
    }
    //////////////////////////////////
    .partners {
        padding-bottom: 40px;
        &__dots {
            bottom: -6%;
            height: 140px;
            width: 85px;
        }
        &__right {
            width: 100%;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 88px 88px 88px;
            grid-gap: 20px;
        }
        &__img {
            width: 70%;
        }
        &__left {
            padding-top: 0px;
            padding-left: 15px;
            padding-right: 15px;
            margin-bottom: 25px;
        }
        &__inner {
            flex-direction: column;
        }
        &__item-4 {
            grid-column: 2 / 3 ;
        }
    }
    .title-and-descr__h2 {
        font-size: 45px;
        line-height: 30px;
        margin-bottom: 18px;
    }
    .title-and-descr__text {
        width: 100%;
    }
    ////////////////////////////
    .container-about {
        width: 100%;
    }
    .about {
        margin-top: 60px;
        padding-left: 0px;
        padding-bottom: 60px;
        &__dots {
            // position: absolute;
            // left: -7px;
            // bottom: 50px;
            display: none;
        }
        &__inner {
            padding-bottom: 129px;
            flex-direction: column;
        }
        &__img-fon {
            left: 0;
            bottom: 0;
            width: 100%;
        }
        &__left {
            width: 100%;
            padding-left: 15px;
            padding-right: 15px;
            align-items: center;
        }
        &__right {
            width: 100%;
            align-items: center;
            padding-left: 15px;
            padding-right: 15px;
        }
        &__left-img {
            width: 100%;
            height: 435px;
            margin-top: 15px;
        }
        &__right-img {
            width: 100%;
            height: 522px;
            margin-top: 30px;
            margin-bottom: -107px;
        }
        &__left-text {
            width: 100%;
            margin-top: 15px;
            margin-bottom: 25px;
            font-size: 15px;
            line-height: 20px;
        }
        &__left-svg {
            top: -8px;
            right: 10px;
            width: 100%;
            height: 435px;
        }
        &__right-svg {
            top: -168px;
            left: 9px;
            width: 100%;
        }
    }
    .title-and-descr__text { 
        width: 100%;
    }
    .title-and-descr__h2 {
        margin-bottom: 23px;
    }
    ////////////////////////////////
    .works {
        padding-left: 30px;
        &__dots {
            right: 0px;
            bottom: 60px;
        }
        &__inner {
            min-height: 512px;
            flex-direction: column;
            align-items: center;
        }
        &__left {
            width: 100%;
            margin-bottom: 50px;
        }
        &__buttons-container {
            margin-top: 15px;
        }
        &__button-create {
            margin-right: 20px;
            width: 200px;
            height: 40px;
        }
        &__button-help {
            width: 200px;
            height: 40px;
        }
        &__right {
            width: 100%;
            padding-left: 0px;
            padding-right: 15px;
        }
        &__item {
            padding-left: 20px;
            padding-top: 20px;
            padding-bottom: 20px;
            margin-bottom: 10px;
        }
        &__item-text {
            width: 100%;
            font-size: 18px;
        }
    }
}
