@media (max-width: 576px) {
    .container-header {
        width: 100%;
    }
    .hamburger {
        display: flex;
    }
    .header {
        padding-bottom: 40px;
        padding-top: 0px;
        &__top {
            display: none;
        }
        &__top-inner {
            height: 30px;
        }
        &__content-right {
            height: 555px;
            width: 100%;
        }
        &__yellow-rectangle {
            left: 10%;
            width: 80%;
            height: 382px;
        }
        &__content-left {
            width: 100%;
            height: 395px;
            margin-bottom: 30px;
            padding-left: 10px;
            padding-right: 10px;
        }
        &__img-logo {
            height: auto;
            width: 80%;
        }
        &__svg-2 {
            top: 35%;
            left: 40%;
            width: 215px;
            height: 504px;
        }
        &__svg-1 {
            top: 45%;
            left: -10%;
            width: 330px;
            height: 195px;
        }
        &__content-inner {
            flex-direction: column;
        }
    }
    .container {
        width: 100%;
    }
    .form {
        width: 100%;
        height: 45px;
        &__input-text {
            width: 70%;
            margin-right: -12px;
        }
        &__button {
            width: 30%; 
        }
    }
    .header-btn {
        &__up {
            width: 65px;
            margin-left: 6px;
            font-size: 15px;
            margin-top: -7px;
        }
    }
    .link {
        font-size: 15px;
    }
    .menu {
        margin-right: 20px;
        &__list-item {
            margin-left: 31px;
        }
        &__list {
            margin-top: 0px;
        }
    }
    .logo {
        margin-top: 0;
    }
    .menu-mobile {
        visibility: hidden;
        position: absolute;
        top: 0px;
        width: 100%;
        height: 100vh;
        background-color: aqua;
        z-index: 10;
        &__close {
            height: 15px;
            width: 15px;
            background-color: black;
        }
        &.active {
            visibility: visible;
        }
        // &__list {

        // }
        // &__link {

        // }
        // &__a {

        // }
    }
    //////////////////////////////////
    .partners {
        padding-bottom: 40px;
        &__dots {
            bottom: -6%;
            height: 140px;
            width: 85px;
        }
        &__right {
            width: 100%;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 88px 88px 88px;
            grid-gap: 20px;
        }
        &__img {
            width: 70%;
        }
        &__left {
            padding-top: 0px;
            padding-left: 15px;
            padding-right: 15px;
            margin-bottom: 25px;
        }
        &__inner {
            flex-direction: column;
        }
        &__item-4 {
            grid-column: 2 / 3 ;
        }
    }
    .title-and-descr__h2 {
        font-size: 45px;
        line-height: 30px;
        margin-bottom: 18px;
    }
    .title-and-descr__text {
        width: 100%;
    }
    ////////////////////////////
    .container-about {
        width: 100%;
    }
    .about {
        margin-top: 60px;
        padding-left: 0px;
        padding-bottom: 60px;
        &__dots {
            // position: absolute;
            // left: -7px;
            // bottom: 50px;
            display: none;
        }
        &__inner {
            padding-bottom: 129px;
            flex-direction: column;
        }
        &__img-fon {
            left: 0;
            bottom: 0;
            width: 100%;
        }
        &__left {
            width: 100%;
            padding-left: 15px;
            padding-right: 15px;
            align-items: center;
        }
        &__right {
            width: 100%;
            align-items: center;
            padding-left: 15px;
            padding-right: 15px;
        }
        &__left-img {
            width: 100%;
            height: 435px;
            margin-top: 15px;
        }
        &__right-img {
            width: 100%;
            height: 522px;
            margin-top: 30px;
            margin-bottom: -107px;
        }
        &__left-text {
            width: 100%;
            margin-top: 15px;
            margin-bottom: 25px;
            font-size: 15px;
            line-height: 20px;
        }
        &__left-svg {
            top: -8px;
            right: 10px;
            width: 100%;
            height: 435px;
        }
        &__right-svg {
            top: -168px;
            left: 9px;
            width: 100%;
        }
    }
    .title-and-descr__text { 
        width: 100%;
    }
    .title-and-descr__h2 {
        margin-bottom: 23px;
    }
    ////////////////////////////////
    .works {
        padding-left: 30px;
        &__dots {
            right: 0px;
            bottom: 60px;
        }
        &__inner {
            min-height: 512px;
            flex-direction: column;
            align-items: center;
        }
        &__left {
            width: 100%;
            margin-bottom: 50px;
        }
        &__buttons-container {
            margin-top: 15px;
        }
        &__button-create {
            margin-right: 20px;
            width: 200px;
            height: 40px;
        }
        &__button-help {
            width: 200px;
            height: 40px;
        }
        &__right {
            width: 100%;
            padding-left: 0px;
            padding-right: 15px;
        }
        &__item {
            padding-left: 20px;
            padding-top: 20px;
            padding-bottom: 20px;
            margin-bottom: 10px;
        }
        &__item-text {
            width: 100%;
            font-size: 18px;
        }
    }
    //////////////////////
    .container-blogs {
        width: 100%;
        margin: 0 auto;
        }
    .blogs {
        padding-bottom: 45px;
        &__content {
            margin-top: 50px;
            justify-content: center;
        }
        &__left {
            width: 100%;
            padding-left: 0px;
        }
        &__left-img {
            width: 100%;
            height: 160px;
            background-repeat: no-repeat;
            background-size: cover;
            margin-top: -33px;
            margin-bottom: 30px;
        }
        &__left-text-new {
            margin-bottom: 10px;
        }
        &__left-text-info {
            margin-bottom: 10px;
            width: 100%;
            padding-left: 15px;
            padding-right: 15px;
        }
        &__left-text-descr {
            width: 70%;
            margin: 0 auto;
            min-height: 144px;
            padding-left: 15px;
            padding-top: 30px;
            top: 15px; 
        }
        &__right {
            display: none;
        }
        &__h2 {
            font-size: 30px;
            line-height: 40px;
            padding-left: 15px;
        }
    }
    //////////////////////////////
    .container-faqs {
        width: 100%;
    }
    .faqs {
        margin-bottom: 40px;
        &__h2 {
            text-align: center;
            font-size: 35px;
        }
        &__text {
            text-align: center;
            width: auto;
            font-size: 17px;
            padding-left: 15px;
            padding-right: 15px;
            line-height: 18px;
        }
        &__content {
            width: 100%;
            padding-top: 20px;
            padding-bottom: 45px;
            margin-top: 25px;
            grid-template-columns: 1fr;
            grid-template-rows: repeat(4, auto);
            gap: 2%;
        }
    }
    .faqs-title-and-descr {
        padding-left: 15px;
        padding-top: 15px;
        padding-bottom: 34px;
        &__h3 {
            margin-bottom: 13px;
            font-size: 15px;
        }
        &__text {
            width: 100%;
            font-size: 15px;
        }
    }
    ///////////////////
    .container-testimonials {
        width: 100%;
    }
    .testimonials {
        &__content {
            margin-top: 30px;
        }
        &__left {
            width: 55%;
            padding-left: 15px;
        }
        &__left-h4 {
            margin-bottom: 10px;
            font-size: 24px;
        }
        &__left-text {
            margin-bottom: 10px;
            font-size: 10px;
            line-height: 14px;
        }
        &__left-grade {
            margin-bottom: 10px;
        }
        &__left-name-1 {
            font-size: 13px;
            margin-bottom: 10px;
            line-height: 15px;
        }
        &__left-name-2 {
            font-size: 13px;
            margin-bottom: 10px;
            line-height: 15px;
        }
        &__right {
            width: 42%;
            height: 220px;
        }
        &__star {
            height: 20px;
            width: 20px;
        }
        &__tab {
            height: 10px;
            width: 10px;
        }
    }
    //////////////////////
    .container-footer {
        width: 100%;
    }
    .footer {
        padding-top: 25px;
        &__h2-text {
            font-size: 35px;
            line-height: 45px;
            margin-bottom: 25px;
        }
        &__form {
            margin-bottom: 30px;
        }
        &__input-text {
            height: 30px;
            width: 60%;
            font-size: 14px;
        }
        &__button {
            height: 30px;
            width: 30%;
        }
        &__content {
            margin-bottom: 40px;
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: auto auto;
        }
        &__fitnes {
            padding-left: 15px;
            margin-bottom: 20px;
        }
        &__links {
            padding-left: 15px;
            margin-bottom: 20px;
        }
        &__company {
            padding-left: 15px;
        }
        &__get-touch {
            padding-left: 15px;
        }
        &__fitnes-logo {
            font-size: 15px;
            margin-bottom: 20px;
        }
        &__fitnes-text {
            letter-spacing: 1px;
            font-size: 10px;
            line-height: 15px;
        }
        &__li {
            margin-bottom: 14px;
            font-size: 10px;
            line-height: 15px;
        }
        &__end {
            font-size: 10px;
        }
        &__a {
            font-size: 10px;
        }
    }
}
