@media (max-width: 992px) {
    .container-header {
        max-width: 750px;
    }
    .header {
        padding-bottom: 25px;
        &__top-inner {
            height: 45px;
        }
        &__content-right {
            height: 491px;
            width: 298px;
        }
        &__yellow-rectangle {
            left: 58%;
            width: 310px;
            height: 379px;
        }
        &__content-left {
            width: 425px;
            height: 447px;
        }
        &__img-logo {
            height: 216px;
            width: 427px;
        }
        &__svg-2 {
            display: none;
        }
        &__svg-1 {
            top: 2%;
            left: 41%;
            width: 330px;
            height: 195px;
        }
    }
    .container {
        width: 750px;
    }
    .form {
        width: 450px;
        height: 45px;
        &__input-text {
            width: 280px;
        }
        &__button {
            width: 150px; 
        }
        &__input-text {
            margin-right: -12px;
        }
    }
    .header-btn {
        &__up {
            width: 125px;
            margin-left: 6px;
        }
    }
    //////////////////////////////////
    .partners {
        padding-bottom: 25px;
        &__dots {
            bottom: 10%;
        }
        &__inner {
            flex-direction: column;
            align-items: center;
        }
        &__right {
            grid-template-columns: 261px 261px;
            grid-template-rows: 108px 108px 108px;
            grid-gap: 40px;
            
        }
        &__left {
            padding-top: 0px;
        }
        &__item-4 {
            grid-column: 2 / 3 ;
        }
    }
    ////////////////////////////
    .container-about {
        width: 750px;
    }
    .about {
        padding-left: 30px;
        padding-bottom: 45px;
        &__dots {
            // position: absolute;
            // left: -7px;
            // bottom: 50px;
            display: none;
        }
        &__inner {
            padding-bottom: 129px;
        }
        &__img-fon {
            left: 0;
            bottom: 0;
            width: 750px;
        }
        &__left {
            width: 350px;
            margin-right: 10px;
        }
        &__right {
            width: 390px;
        }
        &__left-img {
            width: 100%;
            height: 462px;
            margin-top: 15px;
        }
        &__right-img {
            width: 100%;
            height: 605px;
            margin-top: 30px;
            margin-bottom: -27px;
        }
        &__left-text {
            width: 350px;
            margin-top: 25px;
            margin-bottom: -110px;
            font-size: 15px;
            line-height: 20px;
        }
        &__left-svg {
            top: -99px;
            right: 10px;
            width: 350px;
        }
        &__right-svg {
            top: -139px;
            left: -10px;
            width: 390px;
        }
    }
    .title-and-descr__text { 
        width: 370px;
    }
    .title-and-descr__h2 {
        margin-bottom: 5px;
        font-size: 45px;
    }
    ////////////////////////////////
    .works {
        padding-left: 30px;
        &__buttons-container {
            margin-top: 15px;
        }
        &__button-create {
            margin-right: 20px;
            width: 130px;
            height: 40px;
        }
        &__button-help {
            width: 130px;
            height: 40px;
        }
        &__right {
            width: 49.5%;
            padding-left: 0px;
            padding-right: 15px;
        }
        &__item {
            padding-left: 20px;
            padding-top: 20px;
            padding-bottom: 20px;
            margin-bottom: 10px;
        }
        &__item-text {
            width: 90%;
            font-size: 15px;
        }
    }
    //////////////////////
    .container-blogs {
        width: 745px;
        margin: 0 auto;
        }
    .blogs {
        padding-bottom: 45px;
        &__content {
            margin-top: 50px;
        }
        &__left {
            width: 370px;
            padding-left: 0px;
        }
        &__left-img {
            width: 370px;
            height: 214px;
            background-repeat: no-repeat;
            background-size: cover;
            margin-top: -33px;
            margin-bottom: 30px;
        }
        &__left-text-new {
            margin-bottom: 30px;
        }
        &__left-text-info {
            margin-bottom: 10px;
            width: 370px;
            padding-left: 15px;
            padding-right: 15px;
        }
        &__left-text-descr {
            width: 370px;
            min-height: 144px;
            padding-left: 15px;
            padding-top: 30px;
            top: 35px; 
        }
        &__right {
            width: 370px;
            padding-left: 0px;
        }
        &__right-img {
            width: 370px;
            background-repeat: no-repeat;
            background-size: cover;
            height: 214px;
            margin-top: -33px;
            margin-bottom: 90px;
        }
        &__right-text-info {
            margin-bottom: 10px;
            width: 370px;
            padding-left: 15px;
            padding-right: 15px;
        }
        &__right-text-descr {
            width: 370px;
            min-height: 144px;
            padding-left: 15px;
            padding-top: 30px;
            top: 35px;
        }
    }
    //////////////////////////////
    .container-faqs {
        width: 750px;
    }
    .faqs {
        margin-bottom: 40px;
        &__h2 {
            text-align: center;
        }
        &__text {
            text-align: center;
            width: auto;
        }
        &__content {
            width: 100%;
            padding-top: 45px;
            padding-bottom: 45px;
            margin-top: 25px;
            grid-template-columns: repeat(2, 360px);
            grid-template-rows: repeat(2, auto);
            gap: 20px;
        }
    }
    .faqs-title-and-descr {
        padding-left: 15px;
        padding-top: 15px;
        padding-bottom: 34px;
        &__h3 {
            margin-bottom: 13px;
        }
        &__text {
            width: 345px;
        }
    }
    ///////////////////
    .container-testimonials {
        width: 750px;
    }
    .testimonials {
        margin-bottom: -2px;
        &__left-text {
            margin-bottom: 25px;
        }
        &__left-grade {
            margin-bottom: 25px;
        }
        &__left-name-2 {
            font-size: 18px;
            line-height: 23px;
            margin-bottom: 80px;
        }
        &__right {
            width: 427px;
            height: 512px;
            background-image: url(../img/footer_boy.png);
            background-repeat: no-repeat;
            background-size: cover;
        }
    }
    //////////////////////
    .container-footer {
        width: 750px;
    }
    .footer {
        padding-top: 65px;
        &__form {
            margin-bottom: 90px;
        }
        &__input-text {
            height: 45px;
        }
        &__button {
            height: 45px;
        }
        &__content {
            margin-bottom: 40px;
        }
        &__end {
            font-size: 15px;
        }
    }
}
