@media (max-width: 992px) {
    .container-header {
        max-width: 750px;
    }
    .header {
        padding-bottom: 25px;
        &__top-inner {
            height: 45px;
        }
        &__content-right {
            height: 491px;
            width: 298px;
        }
        &__yellow-rectangle {
            left: 58%;
            width: 310px;
            height: 379px;
        }
        &__content-left {
            width: 425px;
            height: 447px;
        }
        &__img-logo {
            height: 216px;
            width: 427px;
        }
        &__svg-2 {
            display: none;
        }
        &__svg-1 {
            top: 2%;
            left: 41%;
            width: 330px;
            height: 195px;
        }
    }
    .container {
        width: 750px;
    }
    .form {
        width: 450px;
        height: 45px;
        &__input-text {
            width: 280px;
        }
        &__button {
            width: 150px; 
        }
        &__input-text {
            margin-right: -12px;
        }
    }
    .header-btn {
        &__up {
            width: 125px;
            margin-left: 6px;
        }
    }
    //////////////////////////////////
    .partners {
        padding-bottom: 25px;
        &__dots {
            bottom: 10%;
        }
        &__inner {
            flex-direction: column;
            align-items: center;
        }
        &__right {
            grid-template-columns: 261px 261px;
            grid-template-rows: 108px 108px 108px;
            grid-gap: 40px;
            
        }
        &__left {
            padding-top: 0px;
        }
        &__item-4 {
            grid-column: 2 / 3 ;
        }
    }
    ////////////////////////////
    .container-about {
        width: 750px;
    }
    .about {
        padding-left: 30px;
        &__dots {
            // position: absolute;
            // left: -7px;
            // bottom: 50px;
            display: none;
        }
        &__inner {
            padding-bottom: 129px;
        }
        &__img-fon {
            left: 0;
            bottom: 0;
            width: 750px;
        }
        &__left {
            width: 350px;
            margin-right: 10px;
        }
        &__right {
            width: 390px;
        }
        &__left-img {
            width: 100%;
            height: 462px;
            margin-top: 15px;
        }
        &__right-img {
            width: 100%;
            height: 605px;
            margin-top: 30px;
            margin-bottom: -27px;
        }
        &__left-text {
            width: 350px;
            margin-top: 25px;
            margin-bottom: -110px;
            font-size: 15px;
            line-height: 20px;
        }
        &__left-svg {
            top: -99px;
            right: 10px;
            width: 350px;
        }
        &__right-svg {
            top: -139px;
            left: -10px;
            width: 390px;
        }
    }
    .title-and-descr__text { 
        width: 370px;
    }
    .title-and-descr__h2 {
        margin-bottom: 5px;
    }
}
